@import './../../../../styles.scss';

@mixin borderStyling($bStyle) {
    border: 2px $bStyle white;
    border-radius: 8px;
}

@mixin fontColor($fColor) {
    color: $fColor;
}

@mixin dFlex($jc: center, $ai: center, $g: 0px) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    gap: $g;
}

$c: center;


nav {
    width: 90%;
    padding: 32px;
   @include dFlex($jc:space-around, $ai:flex-end, $g: 16px );
    font-family: 'Raleway';
    >img {
        width: 64px;
        height: 64px;
    }
    >div {
        width: 350px;
        display: flex;
        align-items: $c;
        >a {
            &:hover {
                color: $dark_red;
            }
        }
    }
}

a {
    font-size: 24px;
    text-decoration: none;
    @include fontColor(white);
    margin-inline: 12px;
}


.phone_btn {
    width: 250px;
    display: flex;
    align-items: center;
    background-color: #9d1c1f;
    @include borderStyling(solid);
    font-size: 16px;
    margin: 2px 2px;
    padding: 5px 12px;
    height: 32px;
    &:hover {
        // color: #ae5252;
        @include fontColor(#ae5252);
    }
    >img {
        width: 32px;
        height: 32px;
    }
    >a {
        margin: 8px;
    }
}