<section id="how_to_order">
<h2>HOW TO ORDER</h2>
<div class="how_to_order_container">
    <div class="how_to_order_content">
        <img src="./assets/img/2_section_how_to_order/PNG/noodle.png" alt="">
        <p>Pick your noodle</p>
    </div>

    <div class="how_to_order_content">
        <img src="./assets/img/2_section_how_to_order/PNG/broth.png" alt="">
        <p>Pick your broth</p>
    </div>

    <div class="how_to_order_content">
        <img src="./assets/img/2_section_how_to_order/PNG/egg.png" alt="">
        <p>Pick your toppings</p>
    </div>
</div>

</section>
